[submodule "Network"]
	path = Network
	url = https://github.com/Silicium-Project/Network.git
	branch = main
[submodule "BackEnd"]
	path = BackEnd
	url = https://github.com/Silicium-Project/BackEnd.git
	branch = main
[submodule "FrontEnd"]
	path = FrontEnd
	url = https://github.com/Silicium-Project/FrontEnd.git
	branch = main
